/**
* @name Annoyances Nuker
* @author Muffins
* @description Removes annoyances (nitpick warning)
* @version 4.3
* Use 'CTRL + Shift + I' then element selector then copy js path
* Also some of these CSS rules make the client slow. 
**/

/* Begone, new font! */
:root {
    --font-primary: "Whitney", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
    --font-display: "Whitney", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: 300;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Normal-300.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: italic;
    font-weight: 300;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Italic-300.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Normal-400.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: italic;
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Italic-400.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: 500;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Normal-500.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: italic;
    font-weight: 500;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Italic-500.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: 600;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Normal-600.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: italic;
    font-weight: 600;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Italic-600.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: 700;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Normal-700.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: italic;
    font-weight: 700;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Italic-700.woff2") format("woff2");
}


/* shrink the user area to not cover the server list (evie person)*/
.visual-refresh section[aria-label="User area"] {
	width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);;
	left: var(--custom-guild-list-width);
	bottom: 0px;
	border-radius: 8px;
	border: none;
}

.visual-refresh nav:has([data-list-id="guildsnav"]) {
	margin-bottom: unset;
}

/* nuke the top bar */
.visual-refresh {
  --vr-header-snippet-space: -40px;

  div.bar_c38106 > * {
    display: none !important;
  }
}


/* Bring back the proper time stamps */
span[class*="timestampInline_"] time::before {
	content: attr(aria-label);
	font-size:12px;
}

span[class*="timestampInline_"] {
	font-size:0px !important;
}


/* Remove Help Button */
[aria-label="Help"] {
    display: !important;
}

/* Remove gift button in chat box */
button[aria-label="Send a gift"] {
	display: none;
}

/* Hide Channel App Launcher next to chat */
button[aria-label*="Apps"]{
    display: none;
}

/* Remove badge with "Subscriber since [xxxx] */
div[aria-label^="Subscriber since"] {
	display: none;
}

/* Remove the nitro badge in the server member list */
svg[aria-label^="Server boosting since"] {
	display: none;
}
/* Remove badge "Server boosting since [xxxx]*/
div[aria-label^="Server boosting since"] {
	display: none;
}

/* Remove nitro early supported badge */
div[aria-label="Early Supporter"] {
	display: none;
}

/* Remove HypeSquad badge that everyone forgot existed */
div[aria-label^="HypeSquad "] {
	display: none;
}

/* Remove Nitro ad in profiles */
div[id="profile-customization-tab"] > div[class^="container_"]
{
    display: none;
}

/* Hide 'Shop' and 'Store' Tab under Friends (DubyaDude Regalia)*/
li div a[href="/shop"], 
li div a[href="/store"]{
	display: none;
}

/* Disable 'Learn More' for nitro in the popout in the side DM (DubyaDude Regalia) */
div[class*=overlayBackground_]:has(button[class*=getNitroButton_])
{
    display: none;
}

/* Disable emoji inspection upsell (DubyaDude Regalia) */
[class^="nitroTextAndBadge_"], button:has([class^="premiumIcon_"]),
[class^="emojiSection_"] [class^="flex_"] div[class*="text-sm-normal"]{
	display: none;
}

/* Profile effects */
[class^="profileEffects"]
{
    display: none;
}

/* Remove Avatar Decorations */
svg[class^="avatarDecoration"],
/* Avatar Decorations in Messages */
img[class^="avatarDecoration"],
/* Fix 'View Profile' selector with hidden decoration */
[class*="bannerSVGWrapper_"] > mask > image {
    display: none;
}
[class*=avatarDecorationHint_] > foreignObject {
  width: 80px;
  height: 80px;
  mask: url(#svg-mask-avatar-status-round-80);
}
[class*=avatarDecorationHint_]{
  top: -80px;
  left: 0px;
  position: relative;
}

/* Disable clan tag in messages, memebers list, and popout profile view */
div[class^=body_] > span[class^="clickable_"] [role="button"],
span[class*="clanTagChiplet_"],
span[class*="clanTag_"]{
    display:   ;
}


/* Remove Discover button in the footer*/
div[class*="listItem"]:has(div[data-list-item-id="guildsnav___guild-discover-button"]){
  display: none;
}

div[class*=unreadMentionsFixedFooter]
{
  bottom: 0px;
}

/* Remove server boost level icon */
div[aria-label^="Level "]{
	display: none;
}

/* remove the server boost level for community/level 3+ */
div[class^="flowerStarContainer__"]{
	display: none;
}

/* Remove server boost/guild icon*/
/*div[class*="guildIcon"]{
	display: ;
}
*/

/* Make Super Reactions less annoying (DubyaDude Regalia) */
div[class^="effectsWrapper"]
{
    display: none;
} 
img.emoji
{
    opacity: 100;
}
div[class*="shakeReaction"]
{
    animation: !important;
}

/* Remove Discord's social links at the bottom of the settings menu*/
div[class*="socialLinks"]{
	display: none;
}

/* Remove Quests Icon */
svg[class*="questsIcon"]{
	display: none;
}

/* Remove "Completed a Quest */
[aria-label="Completed a Quest"]{
	display: none;
}

/* Remove Merch Tab */
[aria-label="Merch"]{
	display: none;
}

/* Some Mobile related thing */
[aria-label="Download the mobile app to make your first remix"]{
	display: none;
}

/* Remove 'Start an Activity' button under the voice call thing */
[aria-label="Start An Activity"]{
	display: none;
}

/* Remove redundant gif picker in chat box */
[aria-label="Open GIF picker"]{
	display: none;
}

/* Remove redundant sticker picker in chat box */
[aria-label="Open sticker picker"]{
	display: none;
}

/* Get these dumb sound buttons out of here */
div[class^="soundButtonRefresh"]{
	display: none;
}

/* Upsell nuker */
[class*="marketingButtonBackground"],
[class*="newBadge_"],
[class*="premiumTab"],
[class*="premiumBadge"],
[class*="premiumFeatureBorder"],
div[class*="selectionGroup"]:has(div[class*="tryItOutButtons"] > button[class*="shinyButton_"]),
[class*="upsell"]{
	display: none;
}

/* Remove Entire Billing Tab in settings. Should probably keep this if nitro purchaser. Im going to leave the seperators alone due to laziness..  */
/*
div[aria-label="Nitro"],
div[aria-label="Subscriptions"],
div[aria-label="Gift Inventory"],
div[aria-label="Billing"],
#app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div:nth-child(2) > div > div.sidebarRegion__23e6b > div > nav > div > div:nth-child(15),
[data-text-variant="eyebrow"]{
    display: none;
}
*/

/* Remove Activities drop down menu*/
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']){
	display: none;
}

/* hide fast reacts - if only they didnt cover part of a message.. */
.button_f7ecac.hoverBarButton_f84418:nth-of-type(1),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(2),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(3),
.separator_f84418 {
	display:;
}


/* Remove Quest Available Ads */
/*#popout_1126 > div {
	display:;
}
*/

/* Remove Server Boost in Server Drop Down*/
#guild-header-popout-premium-subscribe{
	display: none;
}
/* Remove Server Boost progress */
#channels > ul > li:nth-child(3){
	display: none;
}

/* Remove Download Apps */
#app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div.content_c48ade > div.sidebar_c48ade > nav > ul > div.itemsContainer_ef3116 > div > div:nth-child(7){
	display: none;
}

/* Remove call button on right clicking user profile in DMs to prevent the skill issue of calling 'em */
#user-context-call {
	display: none;
}

/* Remove "X number in voice  */
#app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div.content_c48ade > div.sidebar_c48ade > div.sidebarList_c48ade.sidebarListRounded_c48ade > nav > div.container__7aaec.bottom__7aaec {
	display: none;
}

/* Hide nameplates (Pointy)*/
[style^="background: linear-gradient(90deg"]:has([src*="/nameplates/"]) { display: none; }
[class*="dm_"]:has([class*="linkPlated_"]) {
    & [class*="linkPlated_"] { padding-right: var(--space-16); }
    & [class*="closeButtonPlated_"] {
        opacity: 0.7;
        &:hover { opacity: 1; }
        & [class^="innerCloseButtonPlated"] {
            opacity: unset; 
            background: none;
            & svg {
                color: inherit;
                &:is(:hover, :focus-within) { color: var(--interactive-hover); }
            }
        }
    }
}

/* Remove react to a status */
[class*=statusPopover],
[class*=avatarPopover_]{
	display:none;
  }
